<form method="POST" hx-post="{% url "product_edit" pk=product.id %}" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div><label>producto</label>: {{product.title}}</div>
    <div><label>codigo</label>: {{product.codebar}}</div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="number" name="product" value="{{product.id}}" style="display:none;">
      <input type="number" name="total_balance_quantity" value="{{product.get_stock}}">
    </div>
    <div><label>price</label>: {{product.price}}</div>
    <button class="submit">Submit</button>
    <a class="btn" href="{% url "inventory" %}">Cancel</a>
</form>