<div id="cart-shopping">
    <form method='POST' hx-post="{% url "add_order" %}">
        {% csrf_token %}
        <input type="text" value="{{bill.id}}" name="bill" style="display:none;">
        <label>Detalle</label>
        <input type="text" value="{{item.title}}" >
        <input type="text" value="{{item.id}}" name="product" style="display:none;">
        <label>Cantidad</label>
        <input type="number" value="1" name="quantity">
        <label>Precio</label>
        <input type="text" value="{{item.price}}" name="price">
        <input type="submit" value="guardar">
        <button class="btn" hx-get="{% url "list_order" pk=bill.id %}" hx-target="#cart-shopping" hx-swap="outerHTML">Cancel</button>
    </form>
</div>