{% extends "base/base.html" %}

{% load static %}
{% load filters %}

{% block title %}Panel de control - Invoice{% endblock title %}

{% block content %}

{{invoice.number_bill}}

{{invoice.sale_date}}

{% include "customer/detail.html" %}

{{invoice.total_amount|format_price}}

{% if invoice.is_paid %}
    <h1>Cancelada</h1>
{% else %}
    <h1>Sin Cancelar</h1>

{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Productos</h2>
            <input type="text" name="query" hx-get="{% url "filter_products" %}" hx-trigger="input" hx-target="#search-results">
            <div id="search-results">
                {% include "product/partials/list.html" %}
            </div>
        <div>
        <div class="col-sm-4">
            {% include "invoices/cart/list.html" %}
        </div>
    <div>
    </div>
</div>


{% endblock content %}
