{% extends "admin/base_site.html" %}


{% block title %}Panel de Control - Mi Sitio{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-sm-4">
            {% include "includes/card_dash.html" with title='Balance'%}
        </div>
        <div class="col-sm-4">
            {% include "includes/card_dash.html" with title='Ventas totales'%}
        </div>
        <div class="col-sm-4">
            {% include "includes/card_dash.html" with title='Compras' %}
        </div>
    </div>

    <table class="table table-striped" id="table-invoices">
        <tr>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Factura</a>
                </div>
            </th>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Cliente</a>
                </div>
            </th>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Valor</a>
                </div>
            </th>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Medio de pago</a>
                </div>
            </th>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Fecha y hora</a>
                </div>
            </th>
            <th class="sorting" tabindex="0" colspan="1" rowspan="1">
                <div class="text">
                    <a href="?o=">Estado</a>
                </div>
            </th>
          
        </tr>
    </table>
</div>
{{ block.super }}  Esto incluye el contenido original

<script>
    const tableEl = document.querySelector('#table-invoices')
    const getListInvoices = async()=>{
        const resp = await fetch('http://localhost:8000/api/v1/sales/list-invoices/')
        const respData = await resp.json()
        respData.data.forEach(el =>{
            setTableInvoices(el)
        })
    }

    const setTableInvoices = (bill)=>{
        const tr = document.createElement('tr')
        
        tr.innerHTML = `
            <td>${bill.number_bill}</td>
            <td>${bill.customer}</td>
            <td>$ ${bill.value}</td>
            <td>Efectivo</td>
            <td>${bill.date} | 4:37 PM</td>
            <td>${bill.is_paid}</td>
        `
        tableEl.appendChild(tr)
        
    }

    getListInvoices()
</script>
{% endblock %}

{% block javascript %}

{% endblock javascript %}

